/build/
/lib/BTree
/data/
/workloads/
/flow_input/
/configs/
/results/
/lib/ALEX
/lib/lipp
/lib/PGM-index
/lib/BTree
/lib/YCSB
/train/checkpoint
/train/data
/train/__pycache__
/train/models/__pycache__
/train/models/BNAF/__pycache__
.vscode